@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: black;

}

.main-menu {

    max-width: 1200px;
    padding: 24px;
    margin: 0 auto;

}

.main-menu ul {

    display: flex;
    gap: 42px;
    list-style: none;

}

.main-menu ul a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size:18px;
    font-family: 'Roboto', sans-serif;

}

.main-menu ul a:hover {

    color: white;

}

main {
    
    max-width: 1200px;
    margin: 0 auto;
}
.introduction h1 {

    color: white;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    margin-top: 72px;
    letter-spacing: 3px;

}

.socials {

    margin-top: 32px;

}
.socials a {

    text-decoration: none;

}

.socials a img {

    width: 30px;
    opacity: .5;
    margin-inline: 12px
;

}

.socials a img:hover{

    opacity: 1;
    
}

.introduction article {

    display: flex;
    gap: 200px;
    margin-top: 32px;
    text-decoration: none;

    
}
.introduction article p {

    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 25px;
}
.introduction article img {

    height: 600px;
    border-radius: 12px;

}

